<% layout('layouts/boilerplate')%>
<!-- CART PAGE -->
<div class="container">
  <h1><%= currentUser.username %>'s Cart</h1>
  <h2>Location: <%= currentUser.location %></h2>

  <% for (let food of cart){%>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <%if(food.food.image.url) {%>
        <img class="img-fluid" alt="" src="<%=food.food.image.url%>" />
        <% }else {%>
        <img
          class="img-fluid"
          alt=""
          src="https://acadianakarate.com/wp-content/uploads/2017/04/default-image-620x600.jpg"
        />
        <% } %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= food.food.name %></h5>
          <p class="card-text">
            <small class="d-block"
              >Restaurant: <%= food.food.restaurant.username%></small
            >
            <small class="text-muted d-block"
              ><%= food.food.restaurant.location%></small
            >

            Price: <strike style="color: red">₹<%= food.food.price %></strike>
            <% if(currentUser.roles === 'customer') {%> ₹<%= 0.8*food.food.price
            %> <% } else { %> ₹<%= 0.6*food.food.price %> <% } %>
          </p>
          <form action="/cart/<%=food.food._id%>?_method=PUT" method="post">
            <strong>
              Number Of Plates:
              <input
                type="number"
                class="mx-2"
                id="count"
                value="<%= food.count %>"
                aria-label="count"
                aria-describedby="count-label"
                name="count"
                min="1"
                max="<%= (food.count + food.food.count)%>"
                required
              /><button class="btn btn-primary btn-sm mx-2 mb-1">
                Save Changes
              </button>
            </strong>
          </form>
          <form
            action="/cart/<%=food.food._id%>?_method=DELETE"
            class="d-inline"
            method="post"
          >
            <button class="btn btn-danger btn sm">Remove</button>
          </form>
          <a
            class="btn btn-primary"
            href="/restaurants/<%=food.food.restaurant._id%>"
            >View <%=food.food.restaurant.username%></a
          >
        </div>
      </div>
    </div>
  </div>
  <% }%>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <div class="card-body">
          <%  let a=0;let c=0;let delivery = 0;
          if (cart[0]){
            // Haversine Formula
            let latDiff=currentUser.geometry['coordinates'][1]*Math.PI/180-cart[0].food.restaurant.geometry['coordinates'][1]*Math.PI/180;
            let longDiff=currentUser.geometry['coordinates'][0]*Math.PI/180-cart[0].food.restaurant.geometry['coordinates'][0]*Math.PI/180%>
            <% a=Math.sin(latDiff/2)**2 +
  Math.cos(currentUser.geometry['coordinates'][1]*Math.PI/180)*Math.cos(cart[0].food.restaurant.geometry['coordinates'][1]*Math.PI/180)*Math.sin(longDiff/2)**2;
  %> <% c=2*Math.atan2(a**0.5,(1-a)**0.5); %> <% let d=c*6371; %>
          <%if (d < 2) { 
              delivery = 0
          } else {
            delivery = parseInt(5*100*d)/100
          }
        }%>
            <strong class="d-block">Delivery Charges: ₹<%=delivery%></strong>
          <strong
            >Total Amount: <% if(currentUser.roles === 'customer') {%> ₹<%=
             parseInt(100*((0.8*money) + delivery))/100%> <% } else { %> ₹<%= parseInt(100*((0.6*money) + delivery))/100 %> <% } %>
          </strong>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <% if(currentUser.roles !== 'NGO') {%>
          <a href="/cart/donation" class="btn btn-primary <%= money === 0?'disabled':''%>"  >Donate To NGO</a>
          <button class="btn btn-primary" id="rzp-button2" <%= money === 0?'disabled':''%>>Self Pick-Up</button>
          <a href="/cart/pay/cod" class="btn btn-primary  <%= money === 0?'disabled':''%>">Payment: COD</a>
          <% } %>
          <button class="btn btn-primary" id="rzp-button1"  <%= money === 0?'disabled':''%>>
            Payment: Online
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const headers = {
    'Content-Type': 'application/json',
  };
  // Online Paymnet
  document.getElementById('rzp-button1').onclick = function (e) {
    e.preventDefault();
    const data = {
      amount: '<%-currentUser.roles === "customer" ?  parseInt(100*((0.8*money) + delivery))/100 :  parseInt(100*((0.6*money) + delivery))/100%>',
      selfpickup: false,
    };
    axios
      .post('/cart/pay/online', data, {
        headers: headers,
      })
      .then((info) => {
        var options = {
          key: '<%-process.env.RAZORPAY_KEY%>', // Enter the Key ID generated from the Dashboard
          name: `<%-currentUser.username%>`,
          description: 'Test Transaction',
          image: '<%-currentUser.image.url%>',
          order_id: info.data.id,
          callback_url: '/cart',
          theme: {
            color: '#3399cc',
          },
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
      });
  };
  // Self Pick Up
  document.getElementById('rzp-button2').onclick = function (e) {
    e.preventDefault();
    const data = {
      amount: '<%-currentUser.roles === "customer" ? 0.8*money : 0.6*money%>',
      selfpickup: true,
    };
    axios
      .post('/cart/pay/online', data, {
        headers: headers,
      })
      .then((info) => {
        var options = {
          key: '<%-process.env.RAZORPAY_KEY%>', // Enter the Key ID generated from the Dashboard
          name: `<%-currentUser.username%>`,
          description: 'Test Transaction',
          image: '<%-currentUser.image.url%>',
          order_id: info.data.id,
          callback_url: '/cart',
          theme: {
            color: '#3399cc',
          },
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
      });
  };
</script>
